* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
    background-color: black;
  }
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-content,
.right-content {
    flex: 1;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


